.rightTd {
  text-align: right;
}

.mobileAddButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.addButton {
  border: 1px solid rgba(255, 255, 255, 0.8);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
}

.addButton:hover {
  color: rgba(255, 255, 255);
  border: 1px solid rgba(255, 255, 255);
}

.table {
  margin-top: 16px;
  table-layout: fixed; /* Prevents table overflowing page on mobiles */
}

/* .playlistButtons {
  border-top: 1px solid rgb(75, 16, 46);
  padding-top: 15px;
} */
