* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background: #6b243f;
  color: rgba(255, 255, 255, 0.8);
}

button {
  background-color: transparent;
  border: none;
}

#root {
  width: 100%;
  height: 100vh;
  background: radial-gradient(
      circle farthest-side at bottom left,
      #5c1c37 400px,
      #6b243f
    ),
    radial-gradient(
      circle 600px farthest-corner at bottom right,
      #8f3c3c 400px,
      #6b243f 400px
    ),
    radial-gradient(circle farthest-corner at 15% 20%, #35171f #6b243f);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
p {
  margin: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.2em;
  padding: 0 0;
}

td {
  padding: 0 5px;
}
