:root {
  --text: rgba(255, 255, 255, 0.87);
  --background: rgb(126, 74, 101);
  --background-gradient: radial-gradient(
    at bottom left,
    rgb(121, 55, 70) 0%,
    rgb(133, 73, 104) 48%,
    rgb(122, 66, 96) 100%
  );
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0 auto;
  color: var(--text);
  background-image: var(--background-gradient);
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#user-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  border: none;
  background: none;
}

#user-img {
  object-fit: cover;
  border-radius: 50%;
}

#user-menu {
  display: flex;
  flex-direction: column;
}

.playlist-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.playlist {
  width: 100%;
}

.main {
  display: flex;
}

.bpm {
  display: flex;
}
