#root {
  padding: 0 10px;
  box-sizing: border-box;
}

.container {
  max-width: 2400px;
  margin: 0 auto;
  text-align: left;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#user-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  border: none;
  background: none;
}

.user-img {
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid transparent; /* Set initial border as transparent */
}

.user-img:hover {
  border-color: #d2d2d2a3; /* Change border color on hover */
}

#user-menu {
  display: flex;
  flex-direction: column;
}

.playlist-form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.playlist-container {
  width: 100%;
}

.playlist {
  width: 100%;
}

.main {
  display: flex;
  gap: 20px;
}

.bpm {
  display: flex;
}

.album-img {
  width: 40px;
  border-radius: 10%;
}

.track-display {
  display: flex;
  gap: 10px;
}

.title-and-artist {
  display: flex;
  flex-direction: column;
}

.mantine-Select-option {
  color: black;
}

.mantine-Table-th,
.mantine-Table-td {
  padding: 5px;
}

#playPauseButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

td {
  height: 100%;
}
