worker_processes 1;

events {
      worker_connections 1024;
}

http {
      include mime.types; #include type of file sending back in res header 
      
      upstream nodejs_cluster {
            least_conn; #algorithm for forwarding requests to server with least connections (overrides default round robin)
            server 127.0.0.1:3001;
            server 127.0.0.1:3002;
            server 127.0.0.1:3003;
      }
      
      server {
            listen 443 ssl; # 443 default for https
            server_name localhost;
            
            # specify location of certificates
            ssl_certificate /Users/emoor/nginx-certs/nginx-selfsigned.crt;
            ssl_certificate_key /Users/emoor/nginx-certs/nginx-selfsigned.key;
            
            # Config nginx to be a proxy server
            # Passes client to app, app to client
            location / {
                  # Pass traffic to node.js app
                  proxy_pass http://nodejs_cluster;
                  proxy_set_header Host $host; 
                  proxy_set_header X-Real_IP $remote_addr; #passes client IP to backend for security, analytics, etc
            }
      }
      
      # Redirect to secure SSL server above
      server {
            listen 80;
            server_name localhost;
            
            location / {
                  return 301 https://$host$request_uri;
            }
      }
}

# Enable HTTPS
# Need SSL/TLS certificate
# Generate a self-signed certificate (for development). In Production, CA-signed certificate
