.footer {
  display: flex;
  margin-top: auto;
  padding: 3rem 0 10px 0;
}

.footerInfo {
  font-size: 14px;
  margin: 5px 0;
}

.logo {
  width: 27px;
  height: 27px;
  margin-right: 6px;
  transform: translateY(8px);
}
