.trackDisplaySkeleton {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 100%;
}

.albumArtSkeleton {
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
  min-width: 40px;
  min-height: 40px;
}

.titleAndArtistSkeleton {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trackTimeSkeleton {
  margin-left: auto;
}
